<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484529672324-u6moeb9udvq1fho5h28u45au55pftvh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484529672324-u6moeb9udvq1fho5h28u45au55pftvh0</string>
	<key>API_KEY</key>
	<string>AIzaSyBpBUIBkYC8Ex8FxMPrDHEwwV1GzIhXp_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>484529672324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netlify.labs10-shopping-list-iOS</string>
	<key>PROJECT_ID</key>
	<string>shoptrak-20f59</string>
	<key>STORAGE_BUCKET</key>
	<string>shoptrak-20f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:484529672324:ios:6bbb2f101f2a85da</string>
	<key>DATABASE_URL</key>
	<string>https://shoptrak-20f59.firebaseio.com</string>
</dict>
</plist>
