.landingPage{
    position: relative;
}

.login{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    border: 2px black solid;
}

.sign{
    margin: 5px;
}

.landingPage p{
    margin-top: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

.thing{
    background: #FFFFFF;
}

.landingPage h1{
    margin: 0 5px;
}