.landingPage{
    position: relative;
}

.login{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    border: 2px black solid;
    margin: 1px 1% 0 0;
}

.sign{
    margin: 5px;
}

.landingPage p{
    margin-top: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.thing{
    background: #FFFFFF;
    border-radius: 5px;
}

.landingPage .name{
    margin: 0 5px;
}

.name{
    font-size: 100px;
}