.billing-container{
    display: flex;
}

.billing{
    padding-left: 20px;
}


.billing button{
  padding: 30px;
  font-size: 20px;
  width: 300px;
  margin-top: 30px;
}

.billing-container button{
    padding: 30px;
    font-size: 20px;
    width: 300px;
    margin-top: 30px;
}
