.group-user-image img{
    width: 60px;
    border-radius: 60px;
}

.group-user-image {
    text-align: center;
}

.group-user-container h3{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.group-user-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
}