.group-profile-container {
    margin-top: 65px;
}

.group-profile-header {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 767px){
    .group-profile-header {
        flex-flow: column wrap;
    }
}

.group-profile-columns {
    display: flex;
    flex-flow: row nowrap;
}

@media only screen and (max-width: 767px){
    .group-profile-columns {
        display: flex;
        flex-flow: column nowrap;
    }
}

.group-profile-nav {
    width: 20%;
}

.group-profile-left{
    margin-left: 10%;
    width: 50%;
}

@media only screen and (max-width: 767px){
    .group-profile-left{
        width: 100%;
        margin-left: 0;
    }
}

.group-profile-right{
    display: flex;
    flex-flow: column;
    width: 50%;
}

@media only screen and (max-width: 767px){
    .group-profile-right{
        width: 100%;
    }
}