.group-profile-container {
    margin-top: 65px;
}

.item-group-container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.group-profile-header {
    display: flex;
    justify-content: flex-end;
}

.group-profile-header-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}

.group-profile-columns {
    display: flex;
    justify-content: space-between;
}

.group-profile-list {
    width: 60%;
    margin-left: 20%;
    height: 500px;
}

.group-profile-list-container {
    height: 400px;
    /*width: 100%;*/
    /*margin-left: 7%;*/
    overflow: auto;
}

.group-profile-list-button {
    margin-left: 35%;
}

.group-profile-list-header {
}

.group-profile-right-col {
    width: 40%;
}

.group-profile-gross {
    display: flex;
    flex-direction: row;
    padding: 1%;
    flex-wrap: wrap;
}

.group-profile-gross-members {
    display: flex;

}

.group-profile-gross-members-box {
    margin-left: 10%;
    text-align: center;
}

.group-profile-bought {
}

.group-profile-bought-list {
    display: flex;
}

.group-profile-bought-input {
    width: 30%;
    display: flex;
    margin-left: 35%;
}

.group-profile-bought-list p {
    margin-right: 5%;
}

.group-profile-bought-input h1 {
    margin-top: 25px;
    margin-right: 10px;
}

.group-profile-bought-button {
    display: flex;
    justify-content: flex-end;
}

/** GROUPS PAGE STYLES **/
.groups-container {
    margin-top: 60px;
    padding: 40px;
    height: 100%;
}

/** INPUT - CHECKBOX STYLES **/

.close {
    width: 20px;
    margin-left: -60%;
}

.close1 {
    width: 20px;
    margin-left: 1%;
    margin-right: 0;
}

.item-name {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-purchased {
    opacity: 1 !important;

}

input[type="button"]{
    outline:none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: 0 !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.md-checkbox {
    position: relative;
    margin: 1em 0;
    text-align: left;
}
.md-checkbox.md-checkbox-inline {
    display: inline-block;
}
.md-checkbox label {
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
}
.md-checkbox label:not(:empty) {
    padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.md-checkbox label:before {
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0.125em;
    cursor: pointer;
    transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
    background: #337ab7;
    border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
    transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
    width: 0.75em;
    height: 0.375em;
    border: 0.125em solid #fff;
    border-top-style: none;
    border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
    box-sizing: border-box;
}

.history-list {
}

.history-items {
    font-size: 18px;
    font-weight: bold;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}