.group-profile-container {
    margin-top: 60px;
}

.group-profile-header {
    display: flex;
    justify-content: flex-end;
}

.group-profile-header-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}

.group-profile-columns {
    display: flex;
    justify-content: space-between;
}

.group-profile-list {
    margin-left: 10%;
    height: 500px;
}

.group-profile-list-container {
    height: 400px;
    margin-left: 7%;
    overflow: auto;
}

.group-profile-list-button {
    margin-left: 35%;
}

.group-profile-list-header {
}

.group-profile-right-col {
    width: 40%;
}

.group-profile-gross {
    display: flex;
    padding: 1%;
}

.group-profile-bought {
}

.group-profile-bought-list {
    display: flex;
}

.group-profile-bought-input {
    width: 30%;
    display: flex;
    margin-left: 35%;
}

.group-profile-bought-list p {
    margin-right: 5%;
}

.group-profile-bought-input h1 {
    margin-top: 25px;
    margin-right: 10px;
}

.group-profile-bought-button {
    display: flex;
    justify-content: flex-end;
}

/** GROUPS PAGE STYLES **/
.groups-container {
    margin-top: 60px;
    padding: 40px;
    height: 100%;
}