.home-banner{
    background: url('../../images/banner-shop-girl.jpg') no-repeat;
    background-size: cover;
    height: 50vh;
    background-position-y: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
}

.home-banner h1{
    font-size: 4rem;
    font-weight: 800;
    text-shadow: -1px 2px 4px #3d3d3d;
    font-family: "Montserrat", sans-serif;
}

.home-banner h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-shadow: -1px 2px 4px #3d3d3d;
}