.element{
    background: #FFFFFF;
    border-radius: 3px;
}

.Navbar{
    background: #FFFFFF;
    margin: 0 5%;
    padding: 3px 0;
    border-radius: 3px;
}

.componentName{
    margin: 20% 5%;
    padding: 5% 0;
}