.item-container {
    width: 100%;
    background: white;
    margin: 10px 0px;
    padding: 5px;
}

.item-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}

.item-container form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item-container button {
    max-width: fit-content;
    padding: 5px;
}

.item-container input {
    padding: 5px 5px;
}