.navigation-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 25%;
}

.nav-links{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav-login{
    width: 25%;
    text-align: right;
}

.nav-logout-btn{
    font-size: 0.5rem;
    background: white;
    padding: 5px;
    color: #3d3d3d;
    margin: 0px 10px;
}

.nav-user-greeting{
    color: white;
}

