.user-profile-container{
    width: 100%;
    background: white;
    margin-top: 60px;
    padding: 40px 40px;
}

.user-profile-col{
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: space-between;*/
    padding: 0px;
}

.user-profile-header {
    display: flex;
    justify-content: flex-end;
}

.user-profile-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0px;
    width: 30%;
}

.user-profile-right {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.user-profile-subs {
    display: flex;
    justify-content: center;
}